<div class="container">

  <div class="jumbotron text-center">
    <h1>'Allo! 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm George"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">AngularJS 102</button>
    </p>    
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="project in main.projects">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ project.logo }}" alt="{{ project.title }}">
        <div class="caption">
          <p>{{ project.type }}</p>
          <h3><a ng-href="{{project.url}}">{{ project.title }}</a></h3>
            <p>Objective: {{ project.objective}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
