<div class="container-fluid">
<!--    <div class="jumbotron" style="background-image: url('assets/images/weather2.jpg');width:120vh;height:120vh">-->
<div class="jumbotron" style="width:120vh;height:140vh;background-color:#87CEFA">
<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom ">
            <h2>Cities</h2>
    </div>
    <div class="panel-body" >
        <div style="display:inline-block;padding:10px" ng-repeat="p in weatherCtrl.weatherProfiles">
            <button class="btn btn-success"  ng-click="weatherCtrl.getWeatherResource(p.city.name)">{{p.city.name}}
            </button>
        </div>            
    </div>
</div>

<div class="row" style="float:middle">
    <div class="col-md-12" style="padding-bottom:10px">
        <input style="float:left" type="text" ng-model="weatherCtrl.city" class="form-control field" placeholder="Town, City or Postcode">
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-success" ng-click="weatherCtrl.getWeatherResource(weatherCtrl.city, weatherCtrl.model)">Get Forecast</button>            
    </div>
</div>

<hr/>
<div ng-if="weatherCtrl.result">
    <div>
        <div>
        <h3>{{ weatherCtrl.result.city.name }} - {{ weatherCtrl.result.city.country }}</h3>            
        </div>
        <div>
            <button class="btn btn-success" ng-click="weatherCtrl.addProfile(weatherCtrl.result.city)">Add City
            </button>
        </div>
    </div>
    <hr />

<div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h4>Today's Weather</h4>
            </div>
            <div class="panel-body" >
                <img style="float:left;height:128px;width:128px" 
                     ng-src="assets/images/{{ weatherCtrl.result.list[0].weather[0].description }}.PNG" 
                     alt="{{ weatherCtrl.result.list[0].weather[0].description }}">
                  <h2>{{ weatherCtrl.convertTemp(weatherCtrl.result.list[0].temp.day,weatherCtrl.model)}}</h2>
                <input type="radio" value="C" ng-model="model" ng-init="model='F'" 
                       ng-click="weatherCtrl.getWeatherResource(weatherCtrl.city, model)">°C | 
                <input type="radio" value="F" ng-model="model" 
                       ng-click="weatherCtrl.getWeatherResource(weatherCtrl.city, model)">°F

                  <div class="caption" >
                  <h3>{{ weatherCtrl.convertToDate(weatherCtrl.result.list[0].dt) | date:'MMM d, y' }}</h3>
                </div>

                  <span>Morning: </span>
                  <span style="margin-right:10px" ng-bind="weatherCtrl.convertTemp(weatherCtrl.result.list[0].temp.morn,weatherCtrl.model)"></span>
                  <span>Night: </span>
                  <span ng-bind="weatherCtrl.convertTemp(weatherCtrl.result.list[0].temp.night,weatherCtrl.model)"></span>
          </div>
      </div>        
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
                <h4>5 Days Forecast Graph</h4>
</div>
            <div class="panel-body" >
            <canvas id="line" class="chart chart-line" chart-data="weatherCtrl.data"
              chart-labels="weatherCtrl.labels" chart-legend="true" chart-series="weatherCtrl.series"
              chart-click="weatherCtrl.onClick" >
            </canvas> 
        </div>
        </div>
    </div>
</div>


<div ng-if="weatherCtrl.result" class="panel panel-default">
    <div class="panel-heading panel-heading-custom ">
        <h4>5 Days Forecast</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover" style="background-image: inherit;" ng-if="weatherCtrl.result">
            <thead>
            <tr>
                <td>Time</td>
                <td>Temp Day</td>
                <td>Temp High</td>
                <td>Temp Low</td>
                <td>Cond</td>
                <td>Humidity</td>
                <td>Pressure</td>
                <td>Wind</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="w in weatherCtrl.result.list">
                <td ng-bind="weatherCtrl.convertToDate(w.dt) | date: 'MMM d, y'"></td>
                <td ng-bind="weatherCtrl.convertTemp(w.temp.day,weatherCtrl.model)"></td>
                <td ng-bind="weatherCtrl.convertTemp(w.temp.max,weatherCtrl.model)"></td>
                <td ng-bind="weatherCtrl.convertTemp(w.temp.min,weatherCtrl.model)"></td>
                <td ng-bind="w.weather[0].description"></td>
                <td ng-bind="w.humidity"></td>
                <td ng-bind="w.pressure"></td>
                <td ng-bind="w.speed"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>      
</div>