<div class="panel panel-default">
    <div class="panel-heading">
        <span class="page-title-minor">User Info</span>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            <label class="field-title">First:</label>
            <span ng-show="userCtrl.mode=='display'" ng-bind="userCtrl.user.first"></span>
            <input ng-show="userCtrl.mode=='edit'" type="text" ng-model="userCtrl.user2.first" style="width: 250px" class="form-control">
        </div>
        <div class="col-sm-12">
            <label class="field-title">Last:</label>
            <span ng-show="userCtrl.mode=='display'" ng-bind="userCtrl.user.last"></span>
            <input ng-show="userCtrl.mode=='edit'" type="text" ng-model="userCtrl.user2.last" style="width: 250px" class="form-control">
        </div>
        <div class="col-sm-12">
            <label class="field-title">Email:</label>
            <span  ng-show="userCtrl.mode=='display'" ng-bind="userCtrl.user.email"></span>
            <input ng-show="userCtrl.mode=='edit'" type="text" ng-model="userCtrl.user2.email" style="width: 250px"  class="form-control">
        </div>
        <div class="col-sm-12">
            <button class="btn btn-primary btn-sm" ng-show="userCtrl.mode=='display'" ng-click="userCtrl.mode='edit'">Edit</button>
            <button class="btn btn-primary btn-sm" ng-show="userCtrl.mode=='edit'" ng-click="userCtrl.submit()">Done</button>
            <button class="btn btn-primary btn-sm" ng-show="userCtrl.mode=='edit'" ng-click="userCtrl.cancel()">Cancel</button>
        </div>
    </div>
</div>
